/* unknown element <p>False</p>



/*page header : CLIENT CREDIT DEFAULT PREDICTION DASHBOARD*/
/*div.css-1offfwp.e16nr0p34 { */
div.css-k1vhr4.egzxvld5 {
    font-family: courier;
    font-weight: bold;
    text-align: center;
    font-size: 42px;
    padding-top: 0;
    
}

/*div.css-ycuwol.e1tzin5v3 {*/
/*    font-size: 32;*/
/*    font-weight: bold;*/
/*}*/

/*div.css-ocqkz7.e1tzin5v4 {*/
/*    font-weight: bold;*/
/*    font-size: 32;*/
/**/
/*}*/
/* 3 columns' contrainer */
div.css-1r6slb0.e1tzin5v2 {
	background-color: #EEEEEE;
    
	border: 1px solid #DCDCDC;
	padding: 30px 30px 30px 70px;
	border-radius: 10px;
    text-align: center;
    margin-bottom: 25px;
    
}
/* 3 columns' header value */
div.css-1629p8f.e16nr0p31{
    font-family: courier;
    font-size: 16;
}
/* 3 columns' subheader value */
div.css-15fknq9.e1tzin5v3 {
    font-family: courier;
    font-size: 12;
}

/*head area of plot */

div.css-pfmzs3.e1tzin5v3 {
    font-family: courier;
    margin-top: 10px;
    margin-bottom: 0;
}

/*image area of plot 1 */
/*div.css-kb7dt5.e1tzin5v3 { */
div.css-1a32fsj.e19lei0e0 {
    display: table-cell;
    margin: 0;
    text-align: center;

}
/*image area of plot 2 adjust to center */
div.element-container.css-1e3cgxh.e1tzon5v3{
    display: table-cell;
    margin: 0;
    text-align: center;
    
}
div.css-16zo3lf.e1tzin5v0 {
    display: table-cell;
    margin: 0;
    text-align: center;

}


/*sider bar text layout */
/*div.css-163ttbj.e1fqkh3o11 { */
div.css-6qob1r.e1fqkh3o3 {
    text-align: justify;
    font-family: courier;
}


